<link rel="stylesheet" href="/css/partials/footer.css" />

<footer>
    <small>
    Unless explicit mention is made of intellectual property held by third parties, 
    the content of this site is offered under the following conditions 
    <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md">Licence Etalab-2.0</a>.<br>
    Copyrights &copy; 2025 CNES
    </small>
</footer>