<link rel="stylesheet" href="/css/partials/header.css" />

<header>
  <nav class="main-page-nav">
    <div class="nav-container">

      <!-- Left Section -->
      <div class="nav-left">
        <img class="logo" src="/images/CNESlogo.png" alt="Logo">
        <a href="/" class="title">FPGA Explorer</a>
      </div>

      <!-- Right Section -->
      <div class="nav-right">
        <ul>
          <li><a href="/animation">Animation</a></li>
          <li><a href="/help">Help</a></li>
        </ul>
      </div>

    </div>
  </nav>
</header>