hr {
    color: #060F6D;
}

header {
    text-align: center;
    color: #004e8d;
}

header h1 {
    font-size: 2.5em;
}

h1 small {
    font-size: 1%;
}

.siteContent {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.tableOfContents {
    display: flex;
    flex-direction: column;
    width: 15%;
    border-right: 2px solid #004e8d;
}

/*
.deroulant > a::after {
    content: " \25BC";
}
*/

.content {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    width: 85%;
}

footer {
    text-align: center;
    color: #004e8d;
    margin: 20px;
}