hr {
    color: #060F6D;
}

header {
    text-align: center;
    color: #004e8d;
}

header h1 {
    font-size: 2.5em;
}

.tableOfContents {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-right: 2px solid #004e8d;
}

content {
    display: flex;
    margin-top: 35px;
}

footer {
    text-align: center;
    color: #004e8d;
    margin: 20px;
}