<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation</title>

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/animation.css" />

    <script src="https://d3js.org/d3.v6.min.js"></script>
    
</head>
<body>

    {{> header}}

    <div id="drop-zone" class="drop-zone">
        Drag and drop your .v and .sdf files here
    </div>

    <h1>Verilog to JSON Converter (with Cells)</h1>
    <h2>JSON Output:</h2>
    <pre id="jsonOutput"></pre>
    <div id="circuit-diagram"></div>

    <script src="/js/animation.js"></script>

</body>
</html>