<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/mainpage.css" />
</head>
<body>

    {{> header}}

    <div class="content">
        <div class="Title" id="one">
            <h1>FPGA Explorer</h1>
            <h2>The best tool to learn how work FPGA boards<br>thanks simplify virtual modelisations</h2>
        </div>
        <div class="CNES" id="two">
            <div id="text">
                <h1>What is CNES?</h1>
                <p>The National Center for Space Studies (CNES) is the French government space agency. It is responsible for shaping and implementing France's space policy in Europe. Its task is to invent the space systems of the future, bring space technologies to maturity and guarantee France's independent access to space.</p>
            </div>
            <img src="#" alt="CNES logo">
            </div>
        <div class="FPGA" id="one">
            <img src="#" alt="FPGA logo">
            <div id="text">
                <h1>What is FPGA?</h1>
                <p>FPGA stands for Field Programmable Gate Array. It is a type of integrated circuit that can be programmed after manufacturing. This allows for a high degree of flexibility in the design of digital circuits. FPGAs are used in a wide range of applications, including signal processing, data processing, and control systems.</p>
            </div>
            
        </div>
    </div>
    <hr>
    <footer>
        <small>Copyrights &copy; 2025 CNES</small>
    </footer>
</body>
</html>