/* This file contains the css for the main page */

#one {
    color: rgb(00, 51, 91);
}

#two {
    background-color: rgb(00, 51, 91);
    color: white;
}

#two hr {
    color: white;
}

/* Title box */
.Title {
    margin-top: 75px;
    padding-block: 15%;
    text-align: center;
}

.Title h1 {
    font-size: 80px;
}

.Title h2 {
    font-size: 35px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(00, 51, 91);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(255, 99, 71);
}
/*-------------------*/

/* CNES box */
.CNES {
    display: flex;
    flex-direction: line;
}

.CNES #text {
    padding-block: 5%;
    padding-left: 5%;
    padding-right: 2%;
    width: 55%;
}

.CNES img {
    width: 38%;
}
/*-------------------*/

/* FPGA box */
.FPGA {
    display: flex;
    flex-direction: line;
}

.FPGA #text {
    padding-block: 5%;
    padding-left: 2%;
    padding-right: 5%;
    width: 55%;
}

.FPGA img {
    width: 38%;
}
/*-------------------*/

/* Board box */
.Board {
    display: flex;
    flex-direction: line;
}

.Board img {
    width: 35%;
    padding-block: 3%;
    padding-left: 535px;
    filter: drop-shadow(.5vh .5vh .5vh black);
}
/*-------------------*/

/* Interactive points */
.container {
    position: relative;
}

.point {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 99, 71);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    z-index: 10;
}

.point:hover {
    transform: scale(1.4);
}
/*-------------------*/

/* Information box */
.info-box-left {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    display: none;
    z-index: 20;
    pointer-events: none;
    
    width: 350px;
    top: 3500px;
    left: 150px;
}

.info-box-right {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    display: none;
    z-index: 20;
    pointer-events: none;
    
    width: 350px;
    top: 3500px;
    left: 950px;
}
/*-------------------*/

/* Verilog box */
.Verilog {
    display: flex;
    flex-direction: line;
}

.Verilog #text {
    padding-block: 5%;
    padding-left: 5%;
    padding-right: 2%;
    width: 55%;
}

.Verilog img {
    width: 38%;
}
/*-------------------*/

/* table */
table{
    border-collapse: collapse
}

td{
    border: 1px solid black;
    padding: 10px;
}

th{
    border: 1px solid black;
    padding: 10px;
}
/*-------------------*/

hr {
    color: rgb(00, 51, 91);
}

.endOfPage {
    margin-bottom: 35px;
}